<div ng-controller="ClassificationController as vm">
  <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Parameters</a></li>
  <li class="active">Classification</li>
</ol>
<div class="container">
  <h2>Classificações Cadastradas</h2>

  <!-- Nova Claassificacação -->
 <form role="form" ng-submit="addClassificacao()">
   <div class="row">
     <div class="input-group">
       <input type="text" ng-model="descricao" placeholder="Nova Classificação" class="form-control"
       required="" ng-class="{'form-input-error': (vm.form.submitted == true && form.dsc.$invalid == true)}"/>
       <span class="input-group-btn">
         <input type="submit" class="btn btn-primary" value="Add">
       </span>
     </div>
   </div>
 </form>

  <!-- Lista de Classificações -->
  <p class="input-group" ng-repeat="classifc in ClassificaListCollection">
    <input type="text" ng-model="classifc.descricao" class="form-control" disabled="true">
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="removeClassificacao(classifc)" aria-label="Remove">X</button>
    </span>
  </p>
</div>
