<div ng-controller="CrisisController as vm">
  <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Crisis</a></li>
  <li class="active">List</li>
</ol>
  <table width="100%" class="table">
   <thead>
    <tr>
     <th ng-repeat="(header, value) in CrisisListCollection[0]">{{header}}</th>
    </tr>
   </thead>
   <tbody>
    <tr ng-repeat="row in CrisisListCollection | filter:searchText">
     <td ng-repeat="cell in row">{{cell}}</td>
    </tr>
   </tbody>
  </table>
</div>
