<div ng-controller="LoginController as vm">
<div class="jumbotron">
  <h1>BD ITAC</h1>
  <h4>Situation Room</h4>
</div>
  <div class="module form-module">
    <div class="toggle"><i class="fa fa-times fa-pencil"></i>
      <div class="tooltip">Click Me</div>
    </div>
    <div class="form">
      <h3>Login to your account</h3>
      <form id="form" name="form" novalidate>
          <input name="email" type="email" ng-model="vm.form.email" placeholder="E-mail" required="" ng-class="{'form-input-error': (vm.form.submitted == true && form.email.$invalid == true)}"/>
          <input name="password" type="password" ng-model="vm.form.password" placeholder="Password" required="" ng-class="{'form-input-error': (vm.form.submitted == true && form.password.$invalid == true)}"/>
        <button ng-click="vm.login(form);">Login</button>
      </form>
    </div>
    </div>
</div>
