<?xml version="1.0" encoding="utf-8"?>
<manifest package="br.ita.bditac.mobile.alertas"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="br.ita.bditac.mobile.alertas.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".CadastrarEventoActivity"/>

        <activity android:name=".ConsultarIndicadoresActivity" />

        <activity android:name=".ConsultaEventoActivity"/>

        <receiver android:name=".AutoStartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".AlarmReceiver"/>

        <service android:name=".AlertaService"/>

        <service android:name=".AlertaPollingService"/>

        <activity android:name=".NotificationReceiverActivity"/>

    </application>

</manifest>
